@model Kookaburra.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>Kookaburra Chat | Portal Login</title>

    <link rel="apple-touch-icon" href="/remark/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/remark/assets/images/favicon.ico">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/remark/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="/remark/global/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="/remark/assets/css/site.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="/remark/global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="/remark/global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="/remark/global/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="/remark/assets/examples/css/pages/login-v3.css">
    <link rel="stylesheet" href="/remark/global/vendor/waves/waves.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="/remark/global/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="/remark/global/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!--[if lt IE 9]>
      <script src="/remark/global/vendor/html5shiv/html5shiv.min.js"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="/remark/global/vendor/media-match/media.match.min.js"></script>
      <script src="/remark/global/vendor/respond/respond.min.js"></script>
      <![endif]-->
    <!-- Scripts -->
    <script src="/remark/global/vendor/breakpoints/breakpoints.js"></script>
    <script>
  Breakpoints();
    </script>

    <link rel="stylesheet" href="~/Content/kookaburra/portal.css">

    <!-- Core  -->
    <script src="/remark/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="/remark/global/vendor/jquery/jquery.js"></script>
    <script src="/remark/global/vendor/tether/tether.js"></script>
    <script src="/remark/global/vendor/bootstrap/bootstrap.js"></script>
    <script src="/remark/global/vendor/animsition/animsition.js"></script>
    <script src="/remark/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="/remark/global/vendor/asscrollable/jquery-asScrollable.js"></script>
    <script src="/remark/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
    <script src="/remark/global/vendor/waves/waves.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
</head>

<body class="animsition page-login-v3 layout-full">
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <!-- Page -->
    <div class="page vertical-align text-xs-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
        >
        <div class="page-content vertical-align-middle">
            <div class="panel">
                <div class="panel-body">
                    <div class="brand">
                        <img class="brand-img" src="/images/logo-small.png" alt="...">
                        <h2 class="brand-text font-size-18">Kookaburra</h2>
                    </div>
                  @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "login", @class = "login-form", role = "form", autocomplete = "off" }))
                  {
                    @Html.AntiForgeryToken()
                        <div class="form-group floating">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete = "off", placeholder = "Email"})
                         
                        </div>
                        <div class="form-group floating">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off", placeholder = "Password" })
                       
                        </div>
                        <div class="form-group clearfix">
                            <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-xs-left">
                                <input type="checkbox" id="inputCheckbox" name="remember">
                                <label for="inputCheckbox">Remember me</label>
                            </div>
                            <a class="pull-xs-right" href="forgot-password.html">Forgot password?</a>
                        </div>
                       
                        <button type="submit" class="btn btn-primary btn-block btn-lg m-t-40">Sign in</button>

                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                  }
                    <p>Still no account? Please go to <a href="register-v3.html">Sign up</a></p>
                </div>
            </div>
            <footer class="page-copyright page-copyright-inverse">              
                <p>© 2017. All RIGHT RESERVED.</p>           
            </footer>
        </div>
    </div>

    <!-- End Page -->
 
    <!-- Plugins --> 
    <script src="/remark/global/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="/remark/global/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Scripts -->
    <script src="/remark/global/js/State.js"></script>
    <script src="/remark/global/js/Component.js"></script>
    <script src="/remark/global/js/Plugin.js"></script>
    <script src="/remark/global/js/Base.js"></script>
    <script src="/remark/global/js/Config.js"></script>
    <script src="/remark/assets/js/Section/Menubar.js"></script>
    <script src="/remark/assets/js/Section/GridMenu.js"></script>
    <script src="/remark/assets/js/Section/Sidebar.js"></script>
    <script src="/remark/assets/js/Section/PageAside.js"></script>
    <script src="/remark/assets/js/Plugin/menu.js"></script>
    <script src="/remark/global/js/config/colors.js"></script>
    <script src="/remark/assets/js/config/tour.js"></script>
    <script>
  Config.set('assets', '../../assets');
    </script>
    <!-- Page -->
    <script src="/remark/assets/js/Site.js"></script>
    <script src="/remark/global/js/Plugin/asscrollable.js"></script>
    <script src="/remark/global/js/Plugin/slidepanel.js"></script>
    <script src="/remark/global/js/Plugin/jquery-placeholder.js"></script>
    <script src="/remark/global/js/Plugin/material.js"></script>
    <script>
  (function(document, window, $) {
    'use strict';
    var Site = window.Site;
    $(document).ready(function() {
        Site.run();

           if (typeof Waves !== 'undefined') {
          Waves.init();
          Waves.attach('.site-menu-item > a', ['waves-classic']);
          Waves.attach(".site-navbar .navbar-toolbar a", ["waves-light", "waves-round"]);
          Waves.attach('.btn', ["waves-light", "waves-round"]);
        }
    });
  })(document, window, jQuery);
    </script>
</body>
</html>