@model Kookaburra.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    ViewBag.BodyClass = "page-login page-sign-up page-dark site-menubar-unfold";
    ViewBag.Title = "Sign Up With Kookaburra Chat!";
}

<div class="page-content vertical-align-middle">
    <div class="panel">
        <div class="panel-body">
            <div class="brand">
                <img class="brand-img" src="/images/logo-main.png" alt="kookaburra">
                <h2 class="brand-text">Kookaburra</h2>
            </div>
            @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "login", @class = "login-form", role = "form", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group floating">
                    @Html.TextBoxFor(m => m.ClientName, new { @class = "form-control", autocomplete = "off", placeholder = "Name", spellcheck = "false" })
                </div>
                <div class="form-group floating">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete = "off", placeholder = "Email", spellcheck = "false" })
                </div>
                <div class="form-group floating">
                    @Html.TextBoxFor(m => m.Website, new { @class = "form-control", autocomplete = "off", placeholder = "Website", spellcheck = "false" })
                </div>
                <div class="form-group floating">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "new-password", placeholder = "Password" })
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-lg m-t-40">Sign Up</button>

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })                                
            }
            <p>Have account already? Please go to <a href="/account/login">Sign In</a></p>
        </div>
    </div>
</div>   