@model Kookaburra.Models.Widget.IntroductionViewModel
@{
    Layout = "~/Views/Shared/_LayoutWidget.cshtml";
}

@section head{
    @Scripts.Render("~/bundles/js/form")
}

@using (Html.BeginForm("Introduction", "Widget"))
{
    @Html.AntiForgeryToken()
    <div class="introduction">
        <div class="heading">
            Please intoduce yourself
        </div>
        <div class="name">
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", autocomplete = "off" })
        </div>
        <div class="email">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email (optional)", autocomplete = "off" })
        </div>
        <div>
            <input class="btn start" type="submit" value="START CHAT" data-bind="click: startConversation" />
        </div>
    </div>
    @Html.HiddenFor(m => m.PageUrl)
    @Html.HiddenFor(m => m.AccountKey)
}

<script type="text/javascript">

    $(document).ready(function () {

        $('#@Html.IdFor(m => m.Name)').focus();

        var url = (window.location != window.parent.location)
            ? document.referrer
            : document.location.href;

        $('#@(Html.NameFor(m => m.PageUrl))').val(url);
    });

</script>