@model Kookaburra.ViewModels.Widget.OnlineBoxViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/js/widget")

    <script src="~/signalr/hubs"></script>

    @Styles.Render("~/bundles/css/widget")

</head>
<body>
    <div>
        <div class="chatbox">
            <div class="chat-body">

                @Html.Partial("_Introduction")

                <div class="online">
                    <div class="chatting" data-bind="if: conversationStarted">
                        <div class="heading">
                            <div class="operator-pic"></div>
                            <div class="operator-name"></div>
                        </div>
                        <div class="chat-window">
                            <ul id="discussion" data-bind="foreach: messages">
                                <li>
                                    <strong data-bind="text: author"></strong>:
                                    <span data-bind="text: text"></span>
                                    <span data-bind="text: time"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="message-box">
                            <textarea id="message" class="message" data-bind="textInput: newMessage" rows="1"></textarea>
                            <input type="hidden" id="displayname" />
                        </div>
                    </div>
                </div>
                <div data-bind="if: goneOffline">
                    Operator has gone offline. Click <a href="/chatbox/offline/@(Model.AccountKey)">here</a> if you wish leave a message.
                </div>

            </div>

            <div class="box-footer">
                <label>Powered by <strong><a>Kookaburra</a></strong></label>
                <div style="clear:both;"></div>
            </div>

        </div>

        <script type="text/javascript">
            var url = (window.location != window.parent.location) ? document.referrer : document.location;

            var chatWidgetModel = new ChatWidgetViewModel('@Model.AccountKey', url);
            ko.applyBindings(chatWidgetModel);
        </script>
    </div>
</body>
</html>