@model Kookaburra.ViewModels.Widget.OnlineBoxViewModel
@{   
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/js/widget")

    <script src="~/signalr/hubs"></script>

    <link rel="stylesheet" href="~/Content/widget.css">
</head>
<body>
    <div>
        <div class="chatbox">

            <div class="online">
                <div class="chat-body">

                    <div class="introduction" data-bind="if: conversationStarted == false" >
                        <div class="heading">
                            Please intoduce yourself
                        </div>
                        <div class="name">
                            @Html.TextBoxFor(m => m.VisitorName, 
                                new { id = "visitor-name", placeholder = "Name", autocomplete = "off", data_bind = "value: visitorName" })
                        </div>
                        <div class="email">
                            @Html.TextBoxFor(m => m.VisitorEmail, 
                                new { placeholder = "Email (optional)", autocomplete = "off", data_bind = "value: visitorEmail" })
                        </div>
                        <div>
                            <input class="submit" type="button" value="Start Chat" data-bind="click: startConversation" />
                        </div>
                    </div>

                    <div class="chatting" data-bind="if: conversationStarted == true">
                        <div class="heading">
                            <div class="operator-pic"></div>
                            <div class="operator-name"></div>
                        </div>
                        <div class="chat-window">
                            <ul id="discussion"></ul>
                        </div>
                        <div class="message-box">
                            <textarea id="message" class="message"></textarea>
                            <input type="hidden" id="displayname" />
                        </div>
                    </div>

                    <div data-bind="if: goneOffline">
                        Operator has gone offline. Click the button if you wish leave a message
                    </div>

                </div>

                <div class="box-footer">
                    <label>Powered by <strong><a>OnlineChat</a></strong></label>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>


        <script type="text/javascript">


            ko.applyBindings(new ChatRoomViewModel('@Model.ClientKey', 'http://local.chat.com/chat/client'));

    var companyId = '@Model.ClientKey';
    var operatorId = null;
    



    // This optional function html-encodes messages for display in the page.
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }

        </script>
    </div>
</body>
</html>