@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Kookaburra Chat</title>

    @Styles.Render("~/bundles/css/widget")

    @Scripts.Render("~/bundles/js/widget/2")
    <script src="~/signalr/hubs"></script>
</head>
<body>
    <div class="widget">

        @Html.Partial("_Intro")
        @Html.Partial("_Chat")
        @Html.Partial("_GoneOffline")
        @Html.Partial("_Offline")
        @Html.Partial("_ThankYou")

        <script type="text/javascript">

            var accountKey = '@(ViewBag.AccountKey)';
            alert('widget load');

            function init() {
                alert('widget ready');
                var widgetViewModel = new WidgetViewModel(accountKey);
                ko.applyBindings(widgetViewModel);

                // initialise the chat
                widgetViewModel.init();
            }
         
        </script>
    </div>
</body>
</html>