<!DOCTYPE html>
<html>
<head>
    <title>Kookaburra Chat</title>

    @Styles.Render("~/bundles/css/widget")

    @Scripts.Render("~/bundles/js/widget/2")
    <script src="~/signalr/hubs"></script>
</head>
<body>
    <div class="widget">

        @Html.Partial("_Intro")
        @Html.Partial("_Chat")
        @Html.Partial("_GoneOffline")

        <script type="text/javascript">

            var accountKey = '@(ViewBag.AccountKey)';

            $(document).ready(function () {
                var widgetViewModel = new WidgetViewModel(accountKey, url);
                ko.applyBindings(widgetViewModel);

                // initialise the chat
                chatWidgetModel.init();
            });
         
        </script>
    </div>
</body>
</html>